@import "tailwindcss";

/* ===== Color tokens from reference ===== */

:root {
  --radius: 0.625rem;

  --background: #ffffff;
  --foreground: #111827;

  --card: #ffffff;
  --card-foreground: #111827;

  --popover: #ffffff;
  --popover-foreground: #111827;

  --primary: #2b5f5d;
  /* deep teal */
  --primary-foreground: #ffffff;

  --secondary: #51b575;
  /* green */
  --secondary-foreground: #ffffff;

  --muted: #f3f4f6;
  --muted-foreground: #4b5563;

  --accent: #b6e0d0;
  /* mint */
  --accent-foreground: #0b1f1d;

  --destructive: #dc2626;
  --border: #e5e7eb;
  --input: #e5e7eb;
  --ring: #2b5f5d;
}

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #5f5f5f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--muted-foreground);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Tailwind v4 token bridge */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-poppins);
  --font-heading: var(--font-montserrat);
  --font-mono: var(--font-geist-mono);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* Base layer */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }

  .font-poppins {
    font-family: var(--font-poppins), sans-serif;
  }

  .font-montserrat {
    font-family: var(--font-montserrat), sans-serif;
  }

  button {
    cursor: pointer !important;
  }

  button:disabled {
    cursor: not-allowed !important;
  }
}
.b {
  border: 1.5px dashed red;
}
